[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "2.25.1"
numpy = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "4.67.1"
squarify = "0.4.4"
pandas = ">=2.2.0"
scikit-learn = "*"
fuzzywuzzy = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.9"
